.post-quaternary {
  border-radius: rem(10);
  padding: rem(10) rem(10);

  background-color: $color-white;

  @include media(">=sm") {
    border-radius: rem(15);
    padding: rem(15) rem(15);
  }

  @include media(">=xl") {
    border-radius: rem(30);
    padding: rem(20) rem(20);
  }

  @include media("<lg") {
    border: 1px solid $color-gray-3;
  }
}

.post-quaternary__publish {
  display: inline-block;

  border-radius: rem(22);
  min-width: rem(69);
  padding: rem(8) rem(20);

  background-color: rgba($primary-color, 0.8);

  font-size: rem(11);
  font-weight: $font-bold;
  text-transform: uppercase;
  text-align: center;

  @include media(">=lg", "<xl") {
    display: none;
  }
}

.post-quaternary__date {
  font-size: rem(22);
}

.post-quaternary__title {
  margin-top: rem(10);
  margin-bottom: rem(10);

  font-size: rem(16);

  @include media(">=sm") {
    height: rem(42);
  }
}
