@mixin flex($display: flex) {
  display: $display;
}

@mixin flex-fluid($wrap: wrap, $direction: row) {
  flex-wrap: $wrap;
  flex-direction: $direction;
}

@mixin flex-center($align: null, $justify: null) {
  @include flex;
  align-items: $align;
  justify-content: $justify;
}

@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}

@mixin mx-auto() {
  margin-right: auto;
  margin-left: auto;
}

@mixin unsetSpace() {
  margin: unset;
  padding: unset;
}

@mixin customGridGutters($gutters) {
  @each $name, $val in $gutters {
    &-#{$name} {
      margin-left: -$val;
    }

    &-#{$name} > * {
      padding-left: $val;
    }
  }
}

@mixin columns-loop($name, $cols) {
  @for $i from 1 through $cols {
    &-#{$name}-#{$i} {
      width: col-width($i, $cols);
    }
  }
}

@mixin colums-gap($name, $cols) {
}

@mixin isHidden() {
  display: none;
  opacity: 0;
  visibility: hidden;
}

@mixin isVisible() {
  display: block;
  opacity: 1;
  visibility: visible;
}
