.page-background-overlay,
.page-background-polygon,
.page-background-half,
.page-background-circle,
.page-background-ellipse {
  position: absolute;
  z-index: -2;

  @include media("<lg") {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

.page-background-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-color: rgba($color-white, 0.85);
  backdrop-filter: blur(15px);
}

.page-background-half {
  left: 100%;
  top: 314px;
  transform: translateX(-100%);
}

.page-background-polygon {
  top: 140px;
  left: 32.5%;
}

.page-background-ellipse {
  top: rem(784);
  right: 100%;
  transform: translate(calc(100% - 37px));
}

.page-background-circle {
  top: rem(922);
  left: 50%;
}
