mixin page-background(props = {})
  div.page-background-overlay

  div.page-background-polygon
    <svg width="380" height="390" viewBox="0 0 380 390" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M119.145 64.8712C163.163 22.0311 319.517 106.62 328.217 187.787C336.917 268.955 207.966 401.15 152.145 359.148C96.324 317.146 75.1269 107.711 119.145 64.8712Z" fill="url(#paint0_linear)"/>
      <defs>
      <linearGradient id="paint0_linear" x1="0.362579" y1="147.51" x2="170.141" y2="389.979" gradientUnits="userSpaceOnUse">
      <stop stop-color="#6835D0"/>
      <stop offset="1" stop-color="#59F0FF"/>
      </linearGradient>
      </defs>
    </svg>

  div.page-background-half
    <svg width="110" height="206" viewBox="0 0 110 206" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="103" cy="103" r="83" stroke="#4247E0" stroke-width="40"/>
    </svg>

  div.page-background-circle
    <svg width="193" height="193" viewBox="0 0 193 193" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="96.5" cy="96.5" r="96.5" fill="#7FFDB9"/>
    </svg>

  div.page-background-ellipse
    <svg width="307" height="408" viewBox="0 0 307 408" fill="none" xmlns="http://www.w3.org/2000/svg">
      <ellipse cx="135" cy="204" rx="172" ry="204" fill="url(#paint0_linear)"/>
      <defs>
      <linearGradient id="paint0_linear" x1="158.535" y1="-32.9679" x2="-132.906" y2="160.437" gradientUnits="userSpaceOnUse">
      <stop stop-color="#FFC18F"/>
      <stop offset="0.453344" stop-color="#FC6D6D"/>
      <stop offset="1" stop-color="#AF61FF"/>
      </linearGradient>
      </defs>
    </svg>


