*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
[class] {
  @include unsetSpace;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include media("<desktop") {
    font-size: 56.25%;
  }
}

body {
  position: relative;
  color: $primary-color;
  font-size: px($fz-base);
  font-family: $font-primary;
  font-weight: $fw-regular;
  line-height: $lh-base;
  overflow-x: hidden;
}

ol[class],
ul[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

[href] {
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  border: 0;
  vertical-align: middle;
}

input,
textarea,
button {
  appearance: none;
  border-radius: 0;
  background: transparent;
  border: 0;
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  outline: none;
  &:hover,
  &:active,
  &:focus {
    outline: none;
  }
}

button {
  cursor: pointer;
}

embed,
iframe,
img,
object,
video {
  max-width: 100%;
}
