h1 {
  font-size: px(36);
}
h2 {
  font-size: px(32);
}
h3 {
  font-size: px(28);
}
h4 {
  font-size: px(24);
}
h5 {
  font-size: px(20);
}
h4 {
  font-size: px(16);
}

p {
  font-size: px(14);
  line-height: px(24);
}

.t1 {
  font-size: px(44) !important;
}
.t2 {
  font-size: px(32) !important;
}
.t3 {
  font-size: px(22) !important;
}
.t4 {
  font-size: px(20) !important;
}
.t5 {
  font-size: px(18) !important;
}
.t6 {
  font-size: px(17) !important;
}
.s1 {
  font-size: px(16) !important;
}
.s2 {
  font-size: px(13) !important;
}
.s3 {
  font-size: px(12) !important;
}
.s4 {
  font-size: px(11) !important;
}
