h1 {
  font-size: px(36);
}
h2 {
  font-size: px(32);
}
h3 {
  font-size: px(28);
}
h4 {
  font-size: px(24);
}
h5 {
  font-size: px(20);
}
h4 {
  font-size: px(16);
}

p {
  font-size: px(14);
  line-height: px(24);
}

.t1 {
  font-size: px(44);
}
.t2 {
  font-size: px(32);
}
.t3 {
  font-size: px(22);
}
.t4 {
  font-size: px(20);
}
.t5 {
  font-size: px(18);
}
.t6 {
  font-size: px(17);
}
.s1 {
  font-size: px(16);
}
.s2 {
  font-size: px(13);
}
.s3 {
  font-size: px(12);
}
.s4 {
  font-size: px(11);
}
