// Absolute
%absolute-center {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

%absolute-center-transform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Truncate text
%truncate-text {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

// Flex
%flex-space-between {
  display: flex;
  justify-content: space-between;
}

%flex-middle {
  display: flex;
  align-items: center;
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%flex-between-middle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%font-medium {
  font-weight: 500;
}

%post-time {
  color: #3d3753;
  font-size: 1.2rem;
  font-weight: 500;
}
