/* 1. Home Tabs Content
========================================================== */

.home-tabs-content {
  margin-top: rem(10);

  @include media(">=sm") {
    margin-top: rem(15);
  }

  @include media(">=md") {
    margin-top: rem(20);
  }

  @include media(">=xl") {
    margin-top: rem(30);
  }
}

.home-tabs-content__body {
  margin-top: rem(10);
  padding: rem(10) rem(10);
  background-color: rgba($color-white, 0.6);
  border: 2px solid $color-gray-2;
  border-radius: rem(10);

  @include media(">=xl") {
    padding: rem(20) rem(20);
    border-radius: rem(30);
  }
}

.home-tabs-content__item + .home-tabs-content__item {
  margin-top: rem(20);
}
