.c-header__content {
  @include media(">=desktop") {
    display: grid;
    grid-template-columns: 1fr 3fr min-content;
    align-items: center;
  }

  @include media(">1270px") {
    grid-template-columns: 1fr 5fr min-content;
  }
}
.c-header__bar {
  @include media(">=desktop") {
    padding: px(36) 0 px(32);
  }
}

.c-header__navigation {
  @include media(">=desktop") {
    padding: px(13) 0 px(14);
    border-top: 1px solid $color-gray-5;
    border-bottom: 1px solid $color-gray-5;
  }
}

.c-header__logo {
  margin: 0;
}

.c-header__tools > *:last-child {
  margin-left: 6px;
}
