.c-panel {
  color: $color-gray-2;
  font-size: px(14);
}

.c-panel__heading {
  margin-bottom: px(22);
  color: $color-white;
  font-weight: $fw-medium;
  text-transform: uppercase;
  letter-spacing: 1.4px;
}

.c-panel__item {
  line-height: px(34);
}

.c-panel__link:hover {
  color: $color-white;
  text-decoration: underline;
}

.c-panel p {
  font-size: px(16);
  line-height: px(26);
}
