.c-post-primary {
  display: block;
  border-radius: 5px;
  background-color: $color-white;
  font-size: px(14);
  overflow: hidden;

  @include media("<desktop") {
    border: 1px solid $color-gray-3;
  }

  @include media(">=desktop") {
    border-radius: px(10);
  }

  @include media(">=#{$container}") {
    border-radius: px(15);
  }
}

.c-post-primary__info {
  padding: 10px 10px;

  @include media(">=#{$container}") {
    padding: px(15) px(20) px(20);
  }
}

.c-post-primary__thumb {
  padding-top: getSizeImage(165, 294);
}

.c-post-primary__title {
  height: px(42);
  margin-top: px(15);
  margin-bottom: px(20);
  font-size: px(16);
}

.c-post-primary__author {
  @include size(px(40));
  border-radius: px(10);
  overflow: hidden;
}

.c-post-primary__time {
  color: $primary-color-light-2;
}

.c-post-primary__icon {
  color: $color-gray-1;
}
