.c-post-tertiary {
  @include flex;
  color: $primary-color-light-1;

  @include media(">=desktop") {
    justify-content: space-between;
  }
}

.c-post-tertiary__meta > *:not(:first-child) {
  margin-top: px(17);
}

.c-post-tertiary__author,
.c-post-tertiary__box {
  @include size(5rem);
  border-radius: px(10);
}

.c-post-tertiary__author {
  overflow: hidden;
}

.c-post-tertiary__box {
  padding: 7px 7px;
  background-color: $primary-color-light-2;
  color: $secondary-color;
  font-size: 13px;
  font-weight: $fw-medium;
  text-align: center;
}

.c-post-tertiary__box > span {
  display: block;
}

.c-post-tertiary__content {
  border-radius: 5px;
  background-color: $color-white;
  overflow: hidden;

  @include media("<desktop") {
    border: 1px solid $color-gray-3;
  }

  @include media(">=desktop") {
    width: calc(100% - 6.5rem);
    border-radius: px(10);
  }

  @include media(">=#{$container}") {
    border-radius: px(15);
  }
}

.c-post-tertiary__thumb {
  padding-top: getSizeImage(311, 554);
}

.c-post-tertiary__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @include flex;
  @include flex-center(center, center);
  @include size(6rem);
  border-radius: 50%;
  background-color: rgba($color-white, 0.3);
  backdrop-filter: blur(16.3097px);
  font-size: px(30);
  color: $secondary-color;
}

.c-post-tertiary__info {
  padding: px(10) px(10);

  @include media(">=#{$container}") {
    padding: px(20) px(20);
  }
}

.c-post-tertiary__category {
  display: inline-block;
  padding: 9px 15px;
  border-radius: px(17);
}

.c-post-tertiary__title {
  margin-top: px(10);
  margin-bottom: px(10);
  max-height: px(58);
  font-size: px(22);
}

.c-post-tertiary__desc {
  max-height: px(48);
  margin-bottom: px(15);
  font-size: px(14);
  line-height: px(24);

  @include media(">=#{$container}") {
    margin-bottom: px(30);
  }
}

.c-post-tertiary__icon {
  color: $color-gray-1;
}
