.c-post-secondary {
  position: relative;
  display: block;
  border-radius: 5px;
  color: $color-white;
  font-size: px(14);
  overflow: hidden;

  @include media(">phone") {
    border-radius: 10px;
  }

  @include media(">=#{$container}") {
    border-radius: px(30);
  }
}

.c-post-secondary__category {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: px(10) px(15);
  background-color: $secondary-color;
  border-radius: px(17);
  color: $primary-color;
  font-size: 12px;
  font-weight: $fw-medium;

  @include media(">tablet") {
    top: px(15);
    left: px(15);
  }
}

.c-post-secondary__thumb {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: getSizeImage(263, 403);

  > img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.c-post-secondary__info {
  top: initial;
  position: absolute;
  right: 5px;
  bottom: 5px;
  left: 5px;

  @include media(">tablet") {
    right: px(15);
    bottom: px(15);
    left: px(15);
  }
}

.c-post-secondary__title {
  width: calc(100% - 5rem);
  max-height: px(44);
  font-size: px(17);
  font-weight: $fw-medium;
}

.c-post-secondary__save {
  font-size: px(24);
}

.c-post-secondary__meta {
  margin-top: 10px;
  padding: 4px 15px 4px 4px;
  background-color: rgba($color-white, 0.15);
  border-radius: px(24);
  backdrop-filter: blur(27.1828px);

  > *:not(:last-child) {
    margin-right: px(10);
  }

  strong {
    font-weight: $fw-bold;
  }
}

.c-post-secondary__author {
  @include size(4rem);
  border-radius: 50%;
  overflow: hidden;
}
