.c-slider {
  @include flex;
  @include flex-center(center, center);
  font-size: px(14);
}

.c-slider__content {
  @include media(">=desktop") {
    width: 394px;
  }
}

.c-slider__category {
  display: inline-block;
  padding: px(13) px(13);
  background-color: $secondary-color;
  border-radius: px(22);
}

.c-slider__title {
  margin-top: px(30);
  margin-bottom: px(30);
  font-size: px(44);
  line-height: px(52);
}

.c-slider__meta {
  margin-bottom: px(40);
}

.c-slider__author {
  @include size(px(40));
  border-radius: 50%;
  overflow: hidden;
}

.c-slider__meta > *:not(:first-child) {
  margin-left: px(10);
}

.c-slider__thumb {
  @include media(">=desktop") {
    width: calc(100% - 394px);
    padding-left: px(15);
  }

  @include media(">=#{$container}") {
    padding-left: px(38);
  }
}

.c-slider__thumb-inner {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: getSizeImage(471, 837);
}

.c-slider__thumb-inner:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: px(30);
  left: 0;
  background-image: url("../../images/slider.jpg");
  border-radius: px(30);
  opacity: 0.5;
  filter: blur(63px);
  mix-blend-mode: normal;
}

.c-slider__img {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: px(50);
}
