.c-switch {
  @include flex-center(center, space-between);
  width: 94px;
  padding: 4px 15px 4px 4px;
  border: 2px solid $color-gray-5;
  font-size: 14px;
  font-weight: $fw-medium;
  border-radius: 22px;
  cursor: pointer;

  transition: all 0.25s;
}
.c-switch__mode--light {
  display: none;
}

.c-switch__button {
  pointer-events: none;
}
#switch-mode:checked ~ .c-switch {
  background-color: $primary-color;
  border-color: $primary-color;
  padding: 4px 4px 4px 15px;
  color: #fff;
}

#switch-mode:checked ~ .c-switch .c-switch__mode--light {
  display: block;
}
#switch-mode:checked ~ .c-switch .c-switch__mode--dark {
  display: none;
}

#switch-mode:checked ~ .c-switch .c-switch__button {
  color: $primary-color;
}
