.subscribe {
  border-radius: rem(10);
  padding: rem(10) rem(10);

  background-color: $secondary-color-light-1;

  color: $primary-color;

  @include media(">=sm") {
    padding: rem(15) rem(15);
  }

  @include media(">=xl") {
    border-radius: rem(30);
    padding: rem(30) rem(30);
  }
}

.subscribe__title {
  font-size: rem(24);

  @include media(">=sm") {
    font-size: rem(30);
  }

  @include media(">=xl") {
    font-size: rem(32);
  }

  @include media("<lg") {
    text-align: center;
  }
}

.subscribe__thumb {
  margin-top: rem(15);
  margin-bottom: rem(15);

  text-align: center;

  @include media(">=sm") {
    margin-top: rem(20);
    margin-bottom: rem(20);
  }

  @include media(">=xl") {
    margin-top: rem(30);
    margin-bottom: rem(30);
  }
}
