.mob-navigation {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  transform: translate3d(-100%, 0, 0);

  overflow: hidden;
  overflow-y: auto;

  padding-top: rem(56);
  background-color: transparent;
  transition: transform 0.25s;
}

.mob-navigation__wrapper {
  position: relative;
  transform: translate3d(-100%, 0, 0);
  width: 100%;
  min-height: 100%;
  background-color: $color-white;
  backface-visibility: hidden;
  transition: 0.25s;
}

.mob-navigation.open-mobile-menu,
.mob-navigation.open-mobile-search,
.mob-navigation.open-mobile-menu .mob-navigation__wrapper,
.mob-navigation.open-mobile-search .mob-navigation__wrapper {
  transform: translate3d(0, 0, 0);
}

.mob-navigation.open-mobile-menu .mob-main-menu {
  display: block;
}

.mob-navigation.open-mobile-search .mob-search {
  display: flex;
}
