.p-statistic {
  font-size: rem(13);
  font-weight: $font-medium;
  color: $secondary-color-light-1;

  @media only screen and (min-width: 1024px) and (max-width: 1269px),
    (max-width: 479px) {
    > :nth-child(1) {
      display: none;
    }
  }
}

.p-statistic > :not(:last-child) {
  margin-right: rem(10);
}
