extend ./layouts/_master.pug

block title
  title Demo
block stylesheet
  link(rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap")


block content
  section.section
    .l-container
      div.grid.grid-desk-huge
        div.col-desk-3.col-tab-6.col-mob-12
          +link()(class="c-card")
            .c-card__order 01
            h3.c-card__title.u-truncate-text-2 We denounce with righteous indignation
            div.o-views
              span
                i.las.la-arrow-up
                | 240 Views
              span
                i.las.la-comment
                | 2 Comments
        div.col-desk-3.col-tab-6.col-mob-12
          +link()(class="c-card")
            .c-card__order 02
            h3.c-card__title.u-truncate-text-2 Denouncing pleasure and praising pain was born
            div.o-views
              span
                i.las.la-arrow-up
                | 240 Views
              span
                i.las.la-comment
                | 2 Comments
        div.col-desk-3.col-tab-6.col-mob-12
          +link()(class="c-card")
            .c-card__order 03
            h3.c-card__title.u-truncate-text-2 At vero eos et accusamus et iusto odio dignissimos...
            div.o-views
              span
                i.las.la-arrow-up
                | 240 Views
              span
                i.las.la-comment
                | 2 Comments
        div.col-desk-3.col-tab-6.col-mob-12
          +link()(class="c-card")
            .c-card__order 04
            h3.c-card__title.u-truncate-text-2 Nam libero tempore, cum soluta nobis est eligendi
            div.o-views
              span
                i.las.la-arrow-up
                | 240 Views
              span
                i.las.la-comment
                | 2 Comments

  section.section.section-background--2.section--rounded
    .l-container
      .c-slider
        .c-slider__content
          +link().c-slider__category.u-text-medium Chic Style
          h3.c-slider__title Torquem Detraxit Hosti Quidem Se Repellere
          .c-slider__meta.u-flex.u-flex-middle
            .c-slider__author
              +img('../assets/images/thumb1.jpg').u-img-cover
            .c-slider__name
              span By
              span.u-text-bold Wiloke
            span •
            span.u-text-bold 25th November, 2020
          .c-slider__navigation.u-flex.u-flex-middle
            button.o-button.o-button--size-l.o-button--circle
              i.las.la-angle-left

            button.o-button.o-button--size-l.o-button--circle.u-ml-10
              i.las.la-angle-right

        .c-slider__thumb
          .c-slider__thumb-inner
            +img('../assets/images/slider.jpg').c-slider__img.u-img-cover


  section.section
    .l-container
      .section__head
        h2.o-heading
          +link()(class="o-heading__link") Category

      .grid.grid-desk-huge
        .col-desk-3.col-tab-6.col-mob-12
          +link()(class="c-category")
            .c-category__thumb
              img.c-category__img.u-img-cover(src="../assets/images/post1.jpg", alt="Apps")
            .c-category__info.u-flex.u-flex-between.u-flex-middle
              span.c-category__title Apps
              div.c-category__counts
                span 23 posts
                div.c-category__posts
                  +img('../assets/images/thumb2.jpg')
                  +img('../assets/images/thumb3.jpg')
                  +img('../assets/images/thumb4.jpg')
        .col-desk-3.col-tab-6.col-mob-12
            +link()(class="c-category")
              .c-category__thumb
                img.c-category__img.u-img-cover(src="../assets/images/post2.jpg", alt="Boxing")
              div.c-category__info.u-flex.u-flex-between.u-flex-middle
                span.c-category__title Boxing
                div.c-category__counts
                  span 23 posts
                  div.c-category__posts
                    +img('../assets/images/thumb5.jpg')
                    +img('../assets/images/thumb6.jpg')
                    +img('../assets/images/thumb7.jpg')
        .col-desk-3.col-tab-6.col-mob-12
          +link()(class="c-category")
            .c-category__thumb
              img.c-category__img.u-img-cover(src="../assets/images/post3.jpg", alt="Bohemian")
            div.c-category__info.u-flex.u-flex-between.u-flex-middle
              span.c-category__title Bohemian
              div.c-category__counts
                span 23 posts
                div.c-category__posts
                  +img('../assets/images/thumb8.jpg')
                  +img('../assets/images/thumb9.jpg')
                  +img('../assets/images/thumb10.jpg')
        .col-desk-3.col-tab-6.col-mob-12
          +link()(class="c-category")
            .c-category__thumb
              img.c-category__img.u-img-cover(src="../assets/images/post4.jpg", alt="Artsy Style")
            div.c-category__info.u-flex.u-flex-between.u-flex-middle
              span.c-category__title Artsy Style
              div.c-category__counts
                span 23 posts
                div.c-category__posts
                  +img('../assets/images/thumb11.jpg')
                  +img('../assets/images/thumb12.jpg')
                  +img('../assets/images/thumb13.jpg')

  section.section.section--ads.u-visible-desktop
    .l-container
      +link()
        +img("../assets/images/banner.jpg")

  section.section.section--rounded.section--background-1
    .l-container
      .section__head
        h2.o-heading
          +link()(class="o-heading__link") With Category

      .grid.grid-desk-huge
        .col-mob-12.col-tab-12.col-desk-3.u-order-tab-2
          .grid.grid-desk-huge
            .col-mob-12.col-tab-4.col-desk-12
              +link().c-post-primary
                .c-post-primary__thumb.u-aspect-ratio
                  +img(src='../assets/images/post14.jpg').u-img-cover
                .c-post-primary__info
                  .c-post-primary__meta.u-flex.u-flex-middle
                    .c-post-primary__author
                      +img('../assets/images/thumb22.jpg').u-img-cover
                    span.u-ml-10.u-text-medium Della Case
                    .o-views.u-ml-auto
                      span
                        i.las.la-arrow-up
                        | 4k3
                      span
                        i.las.la-comment
                        | 825
                  h3.c-post-primary__title.u-truncate-text-2 Drummer Steve Gorman Looks Back at Black Crowes’ Legacy
                  .c-post-primary__time.u-flex.u-flex-middle.u-flex-between
                    span.s3.u-text-medium 16th October, 2019
                    i.las.la-bookmark.t5.c-post-primary__icon
            .col-mob-12.col-tab-4.col-desk-12
              +link().c-post-primary
                .c-post-primary__thumb.u-aspect-ratio
                  +img(src='../assets/images/post15.jpg').u-img-cover
                .c-post-primary__info
                  .c-post-primary__meta.u-flex.u-flex-middle
                    .c-post-primary__author
                      +img('../assets/images/thumb23.jpg').u-img-cover
                    span.u-ml-10.u-text-medium Della Case
                    .o-views.u-ml-auto
                      span
                        i.las.la-arrow-up
                        | 4k3
                      span
                        i.las.la-comment
                        | 825
                  h3.c-post-primary__title.u-truncate-text-2 A note about the new Madeon single
                  .c-post-primary__time.u-flex.u-flex-middle.u-flex-between
                    span.s3.u-text-medium 16th October, 2019
                    i.las.la-bookmark.t5.c-post-primary__icon
            .col-mob-12.col-tab-4.col-desk-12
              +link().c-post-primary
                .c-post-primary__thumb.u-aspect-ratio
                  +img(src='../assets/images/post16.jpg').u-img-cover
                .c-post-primary__info
                  .c-post-primary__meta.u-flex.u-flex-middle
                    .c-post-primary__author
                      +img('../assets/images/thumb14.jpg').u-img-cover
                    span.u-ml-10.u-text-medium Della Case
                    .o-views.u-ml-auto
                      span
                        i.las.la-arrow-up
                        | 4k3
                      span
                        i.las.la-comment
                        | 825
                  h3.c-post-primary__title.u-truncate-text-2 Lil Baby And Future Roll Around In The Dirt In 'Out The Mud
                  .c-post-primary__time.u-flex.u-flex-middle.u-flex-between
                    span.s3.u-text-medium 16th October, 2019
                    i.las.la-bookmark.t5.c-post-primary__icon

        .col-mob-12.col-tab-12.col-desk-6.u-order-tab-1.u-mb-tab-10
          .grid.grid-desk-huge
            .col-mob-12.col-tab-6.col-desk-12
              +link().c-post-tertiary.type-video
                .c-post-tertiary__meta.u-visible-desktop
                  .c-post-tertiary__author
                    +img('../assets/images/thumb27.jpg').u-img-cover
                  .c-post-tertiary__box
                    i.las.la-arrow-up
                    span.u-mt-5 4k3
                  .c-post-tertiary__box
                    i.las.la-comment
                    span.u-mt-5 325
                .c-post-tertiary__content
                  .c-post-tertiary__thumb.u-aspect-ratio
                    +img('../assets/images/post38.jpg')
                    span.c-post-tertiary__play
                      i.las.la-play
                  .c-post-tertiary__info
                    span.c-post-tertiary__category.o-button.o-button--primary.s3.u-text-medium Music
                    h3.c-post-tertiary__title.u-truncate-text-2 Lil Baby And Future Roll Around In The Dirt In 'Out The Mud
                    .c-post-tertiary__desc.u-truncate-text-2 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
                    .u-flex.u-flex-middle.u-flex-between
                      span.s3.u-text-medium 25th October, 2019
                      i.las.la-bookmark.t5.c-post-tertiary__icon

            .col-mob-12.col-tab-6.col-desk-12
              +link().c-post-tertiary
                .c-post-tertiary__meta.u-visible-desktop
                  .c-post-tertiary__author
                    +img('../assets/images/thumb28.jpg').u-img-cover
                  .c-post-tertiary__box
                    i.las.la-arrow-up
                    span.u-mt-5 4k3
                  .c-post-tertiary__box
                    i.las.la-comment
                    span.u-mt-5 325
                .c-post-tertiary__content
                  .c-post-tertiary__thumb.u-aspect-ratio
                    +img('../assets/images/post39.jpg')
                  .c-post-tertiary__info
                    span.c-post-tertiary__category.o-button.o-button--primary.s3.u-text-medium Music
                    h3.c-post-tertiary__title.u-truncate-text-2 Made in Chicago, Played in Poland: Free Jazz and Boogie-Woogie Piano in Poznan
                    .c-post-tertiary__desc.u-truncate-text-2 At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
                    .u-flex.u-flex-middle.u-flex-between
                      span.s3.u-text-medium 25th October, 2019
                      i.las.la-bookmark.t5.c-post-tertiary__icon

        .col-mob-12.col-tab-12.col-desk-3.u-order-tab-3
          .grid.grid-desk-huge
            .col-mob-12.col-tab-4.col-desk-12
              +link().c-post-primary
                .c-post-primary__thumb.u-aspect-ratio
                  +img(src='../assets/images/post17.jpg').u-img-cover
                .c-post-primary__info
                  .c-post-primary__meta.u-flex.u-flex-middle
                    .c-post-primary__author
                      +img('../assets/images/thumb24.jpg').u-img-cover
                    span.u-ml-10.u-text-medium Della Case
                    .o-views.u-ml-auto
                      span
                        i.las.la-arrow-up
                        | 4k3
                      span
                        i.las.la-comment
                        | 825
                  h3.c-post-primary__title.u-truncate-text-2 The Taylor Swift video is As Expected
                  .c-post-primary__time.u-flex.u-flex-middle.u-flex-between
                    span.s3.u-text-medium 16th October, 2019
                    i.las.la-bookmark.t5.c-post-primary__icon
            .col-mob-12.col-tab-4.col-desk-12
              +link().c-post-primary
                .c-post-primary__thumb.u-aspect-ratio
                  +img(src='../assets/images/post18.jpg').u-img-cover
                .c-post-primary__info
                  .c-post-primary__meta.u-flex.u-flex-middle
                    .c-post-primary__author
                      +img('../assets/images/thumb25.jpg').u-img-cover
                    span.u-ml-10.u-text-medium Della Case
                    .o-views.u-ml-auto
                      span
                        i.las.la-arrow-up
                        | 4k3
                      span
                        i.las.la-comment
                        | 825
                  h3.c-post-primary__title.u-truncate-text-2 The Taylor Swift video is As Expected
                  .c-post-primary__time.u-flex.u-flex-middle.u-flex-between
                    span.s3.u-text-medium 16th October, 2019
                    i.las.la-bookmark.t5.c-post-primary__icon
            .col-mob-12.col-tab-4.col-desk-12
              +link().c-post-primary
                .c-post-primary__thumb.u-aspect-ratio
                  +img(src='../assets/images/post19.jpg').u-img-cover
                .c-post-primary__info
                  .c-post-primary__meta.u-flex.u-flex-middle
                    .c-post-primary__author
                      +img('../assets/images/thumb26.jpg').u-img-cover
                    span.u-ml-10.u-text-medium Della Case
                    .o-views.u-ml-auto
                      span
                        i.las.la-arrow-up
                        | 4k3
                      span
                        i.las.la-comment
                        | 825
                  h3.c-post-primary__title.u-truncate-text-2 Goin’ to Kansas City
                  .c-post-primary__time.u-flex.u-flex-middle.u-flex-between
                    span.s3.u-text-medium 16th October, 2019
                    i.las.la-bookmark.t5.c-post-primary__icon

  section.section
    .l-container
      .section__head
        h2.o-heading
          +link()(class="o-heading__link") With Category

      .grid.grid-desk-huge
        .col-mob-12.col-tab-12.col-desk-8
          .grid.grid-desk-huge
            .col-mob-12.col-tab-6.col-desk-6
              +link().c-post-secondary
                .c-post-secondary__thumb
                  +img('../assets/images/post23.jpg').u-img-cover
                span.c-post-secondary__category Design
                .c-post-secondary__info
                  .u-flex.u-flex-between.u-flex-middle
                    h3.c-post-secondary__title.u-truncate-text-2 Hanc ego assentior, cum soluta nobis est primum igitur
                    span.c-post-secondary__save
                      i.las.la-bookmark
                  .c-post-secondary__meta.u-flex.u-flex-middle
                    .c-post-secondary__author
                      +img(src='../assets/images/thumb14.jpg')
                    span By #[strong Wiloke]
                    span •
                    span 25th November, 2020
            .col-mob-12.col-tab-6.col-desk-6
              +link().c-post-secondary
                .c-post-secondary__thumb
                  +img('../assets/images/post24.jpg').u-img-cover
                span.c-post-secondary__category Travel
                .c-post-secondary__info
                  .u-flex.u-flex-between.u-flex-middle
                    h3.c-post-secondary__title.u-truncate-text-2 Quid ex ea quid bonum sit aut quid sit aut in animis nostris.
                    span.c-post-secondary__save
                      i.las.la-bookmark
                  .c-post-secondary__meta.u-flex.u-flex-middle
                    .c-post-secondary__author
                      +img(src='../assets/images/thumb15.jpg').u-img-cover
                    span By #[strong Wiloke]
                    span •
                    span 25th November, 2020
            .col-mob-12.col-tab-6.col-desk-6
              +link().c-post-secondary
                .c-post-secondary__thumb
                  +img('../assets/images/post25.jpg').u-img-cover
                span.c-post-secondary__category Music
                .c-post-secondary__info
                  .u-flex.u-flex-between.u-flex-middle
                    h3.c-post-secondary__title.u-truncate-text-2 Filium morte multavit si sine causa, mox videro
                    span.c-post-secondary__save
                      i.las.la-bookmark
                  .c-post-secondary__meta.u-flex.u-flex-middle
                    .c-post-secondary__author
                      +img(src='../assets/images/thumb16.jpg').u-img-cover
                    span By #[strong Wiloke]
                    span •
                    span 25th November, 2020
            .col-mob-12.col-tab-6.col-desk-6
              +link().c-post-secondary
                .c-post-secondary__thumb
                  +img('../assets/images/post27.jpg').u-img-cover
                span.c-post-secondary__category Nature
                .c-post-secondary__info
                  .u-flex.u-flex-between.u-flex-middle
                    h3.c-post-secondary__title.u-truncate-text-2 Certe, inquam, pertinax non ero tibique, si ob aliquam
                    span.c-post-secondary__save
                      i.las.la-bookmark
                  .c-post-secondary__meta.u-flex.u-flex-middle
                    .c-post-secondary__author
                      +img(src='../assets/images/thumb17.jpg').u-img-cover
                    span By #[strong Wiloke]
                    span •
                    span 25th November, 2020
            .col-mob-12.col-tab-6.col-desk-6
              +link().c-post-secondary
                .c-post-secondary__thumb
                  +img('../assets/images/post28.jpg').u-img-cover
                span.c-post-secondary__category Game
                .c-post-secondary__info
                  .u-flex.u-flex-between.u-flex-middle
                    h3.c-post-secondary__title.u-truncate-text-2 Neural networks can now help you colorize old photos like a pro
                    span.c-post-secondary__save
                      i.las.la-bookmark
                  .c-post-secondary__meta.u-flex.u-flex-middle
                    .c-post-secondary__author
                      +img(src='../assets/images/thumb18.jpg').u-img-cover
                    span By #[strong Wiloke]
                    span •
                    span 25th November, 2020
            .col-mob-12.col-tab-6.col-desk-6
              +link().c-post-secondary
                .c-post-secondary__thumb
                  +img('../assets/images/post29.jpg').u-img-cover
                span.c-post-secondary__category Tech
                .c-post-secondary__info
                  .u-flex.u-flex-between.u-flex-middle
                    h3.c-post-secondary__title.u-truncate-text-2 All the best headphones for working at home in 2020
                    span.c-post-secondary__save
                      i.las.la-bookmark
                  .c-post-secondary__meta.u-flex.u-flex-middle
                    .c-post-secondary__author
                      +img(src='../assets/images/thumb19.jpg').u-img-cover
                    span By #[strong Wiloke]
                    span •
                    span 25th November, 2020
            .col-mob-12.col-tab-6.col-desk-6
              +link().c-post-secondary
                .c-post-secondary__thumb
                  +img('../assets/images/post30.jpg').u-img-cover
                span.c-post-secondary__category Art Design
                .c-post-secondary__info
                  .u-flex.u-flex-between.u-flex-middle
                    h3.c-post-secondary__title.u-truncate-text-2 Chinese vertical dramas made for phone viewing show
                    span.c-post-secondary__save
                      i.las.la-bookmark
                  .c-post-secondary__meta.u-flex.u-flex-middle
                    .c-post-secondary__author
                      +img(src='../assets/images/thumb20.jpg').u-img-cover
                    span By #[strong Wiloke]
                    span •
                    span 25th November, 2020
            .col-mob-12.col-tab-6.col-desk-6
              +link().c-post-secondary
                .c-post-secondary__thumb
                  +img('../assets/images/post31.jpg').u-img-cover
                span.c-post-secondary__category Photography
                .c-post-secondary__info
                  .u-flex.u-flex-between.u-flex-middle
                    h3.c-post-secondary__title.u-truncate-text-2 Instagram is testing a feature to clean up your pity follows
                    span.c-post-secondary__save
                      i.las.la-bookmark
                  .c-post-secondary__meta.u-flex.u-flex-middle
                    .c-post-secondary__author
                      +img(src='../assets/images/thumb21.jpg').u-img-cover
                    span By #[strong Wiloke]
                    span •
                    span 25th November, 2020



        .col-mob-12.col-tab-12.col-desk-4
          form.c-subscribe
            h3.c-subscribe__heading.o-heading.o-heading--size-m
              |  Subscribe To Your  Newsletters
            .c-subscribe__img
              +img(src='../assets/images/couple.svg')

            div.c-subscribe__row
              div.c-subscribe__input-wrapper.u-flex.u-flex-between.u-flex-middle
                input.c-subscribe__input(type="text" name="" placeholder="Enter your email address")
                i.c-subscribe__icon.las.la-envelope
            div.c-subscribe__row
              button.c-subscribe__button.o-button.o-button--primary(type="submit") Join now

          .c-tabs-content
            .c-tabs-content__head
              .c-tab.u-flex.u-flex-between.u-flex-middle
                button.c-tab__item.c-tab__item--active.o-button Viewed
                button.c-tab__item.o-button Popular
                button.c-tab__item.o-button Trending

            .c-tabs-content__body
              .c-tabs-content__item
                +link().c-post-septenary.u-flex.u-flex-middle.u-flex-between
                  .c-post-septenary__thumb
                    +img('../assets/images/post35.jpg').u-img-cover
                  .c-post-septenary__info
                    h4.c-post-septenary__title.u-truncate-text-2 Sorry, but you can’t copyright a meme
                    div.o-views
                      span
                        i.las.la-arrow-up
                        | 240 Views
                      span
                        i.las.la-comment
                        | 2 Comments
              .c-tabs-content__item
                +link().c-post-septenary.u-flex.u-flex-middle.u-flex-between
                  .c-post-septenary__thumb
                    +img('../assets/images/post36.jpg').u-img-cover
                  .c-post-septenary__info
                    h4.c-post-septenary__title.u-truncate-text-2 Neural networks can now help you colorize old photos
                    div.o-views
                      span
                        i.las.la-arrow-up
                        | 240 Views
                      span
                        i.las.la-comment
                        | 2 Comments
              .c-tabs-content__item
                +link().c-post-septenary.u-flex.u-flex-middle.u-flex-between
                  .c-post-septenary__thumb
                    +img('../assets/images/post37.jpg').u-img-cover
                  .c-post-septenary__info
                    h4.c-post-septenary__title.u-truncate-text-2 9 design ideas for the future of digital dating
                    div.o-views
                      span
                        i.las.la-arrow-up
                        | 240 Views
                      span
                        i.las.la-comment
                        | 2 Comments

  // Background
  .home-overlay
  .home-half-circle
  .home-polygon
    <svg width="380" height="390" viewBox="0 0 380 390" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M119.145 64.8712C163.163 22.0311 319.517 106.62 328.217 187.787C336.917 268.955 207.966 401.15 152.145 359.148C96.324 317.146 75.1269 107.711 119.145 64.8712Z" fill="url(#paint0_linear)"/>
      <defs>
      <linearGradient id="paint0_linear" x1="0.362579" y1="147.51" x2="170.141" y2="389.979" gradientUnits="userSpaceOnUse">
      <stop stop-color="#6835D0"/>
      <stop offset="1" stop-color="#59F0FF"/>
      </linearGradient>
      </defs>
    </svg>




