.post-primary {
  overflow: hidden;

  border-radius: 5px;

  background-color: $color-white;

  font-size: rem(14);

  @include media("<lg") {
    border: 1px solid $color-gray-3;
  }

  @include media(">=lg") {
    border-radius: rem(10);
  }

  @include media(">=xl") {
    border-radius: rem(15);
  }
}

.post-primary__info {
  padding: rem(10) rem(10);

  @include media(">=xl") {
    padding: rem(15) rem(20) rem(20);
  }
}

.post-primary__thumb {
  padding-top: mathSizeImage(165, 294);
}

.post-primary__meta {
  @extend %flex-middle;
  @extend %font-medium;

  > :not(:last-child) {
    margin-right: rem(10);
  }

  @media only screen and (min-width: 768px) and (max-width: 1269px),
    (max-width: 479px) {
    > :nth-child(n + 3) {
      display: none;
    }
  }
}

.post-primary__title {
  margin-top: rem(10);
  margin-bottom: rem(10);

  font-size: rem(16);

  @include media(">=sm") {
    height: rem(42);
  }

  @include media(">=xl") {
    margin-top: rem(15);
    margin-bottom: rem(20);
  }
}

.post-primary__avatar {
  @include size(rem(40));
  display: block;
  overflow: hidden;

  border-radius: rem(10);
}

.post-primary__time {
  @extend %post-time;
}
