.grid {
  @include flex;
  @include flex-fluid;

  margin-left: -$grid-gutter-mobile;
  list-style: none;

  & > * {
    padding-left: $grid-gutter-mobile;
  }

  @include media(">tablet", "<desktop") {
    margin-left: -$grid-gutter-tablet;
    & > * {
      padding-left: $grid-gutter-tablet;
    }
  }

  @include media(">=desktop") {
    margin-left: -$grid-gutter-desktop;
    & > * {
      padding-left: $grid-gutter-desktop;
    }
  }

  @include media(">#{$container}") {
    &-desk-small {
      margin-left: -15px;
    }

    &-desk-small > * {
      padding-left: 15px;
    }

    &-desk-medium {
      margin-left: -25px;
    }

    &-desk-medium > * {
      padding-left: 25px;
    }

    &-desk-huge {
      margin-left: -30px;

      .col-desk-1:nth-of-type(n + 13),
      .col-desk-2:nth-of-type(n + 7),
      .col-desk-3:nth-of-type(n + 5),
      .col-desk-4:nth-of-type(n + 4),
      .col-desk-6:nth-of-type(n + 3),
      .col-desk-12:nth-of-type(n + 2) {
        margin-top: 30px;
      }
    }

    &-desk-huge > * {
      padding-left: 30px;
    }
  }
}

.col {
  @include media("<tablet") {
    @include columns-loop("mob", 12);
    &-mob-1:nth-of-type(n + 13),
    &-mob-2:nth-of-type(n + 7),
    &-mob-3:nth-of-type(n + 5),
    &-mob-4:nth-of-type(n + 4),
    &-mob-6:nth-of-type(n + 3),
    &-mob-12:nth-of-type(n + 2) {
      margin-top: $grid-gutter-mobile;
    }
  }

  @include media(">=tablet", "<desktop") {
    @include columns-loop("tab", 12);
    &-tab-1:nth-of-type(n + 13),
    &-tab-2:nth-of-type(n + 7),
    &-tab-3:nth-of-type(n + 5),
    &-tab-4:nth-of-type(n + 4),
    &-tab-6:nth-of-type(n + 3),
    &-tab-12:nth-of-type(n + 2) {
      margin-top: $grid-gutter-tablet;
    }
  }

  @include media(">=desktop") {
    @include columns-loop("desk", 12);
    &-desk-1:nth-of-type(n + 13),
    &-desk-2:nth-of-type(n + 7),
    &-desk-3:nth-of-type(n + 5),
    &-desk-4:nth-of-type(n + 4),
    &-desk-6:nth-of-type(n + 3),
    &-desk-12:nth-of-type(n + 2) {
      margin-top: $grid-gutter-mobile;
    }
  }
}
