.home-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0%;
  z-index: -1;
  background-color: rgba($color-white, 0.85);
  backdrop-filter: blur(15px);
}

.home-half-circle {
  @include size(px(206));
  position: absolute;
  left: 100%;
  top: 314px;
  transform: translateX(-50%);
  border: px(40) solid $dark-green-2;
  border-radius: 50%;
  z-index: -2;
}

.home-polygon {
  @include size(256px, 296px);
  position: absolute;
  top: 140px;
  left: 32.5%;
  z-index: -2;
}
