mixin section(props={})
  -
    const defaultProps = {
      hasContainer: true,
      hasBackgroundEl: false,
      className: 'section'
    }
    const _props = Object.assign({}, defaultProps, props)

  +component('section', _props.className)&attributes(attributes)
    if _props.hasBackgroundEl
      div.section__background

    if (_props.hasContainer)
      .container
        if block
          block
    else
      if block
        block