mixin section(props={})
  -
    const defaultProps = {
      hasContainer: true
    }

    const _props = Object.assign({}, defaultProps, props)

  +component('section', 'section')&attributes(attributes)
    if (_props.hasContainer)
      .container
        if block
          block
    else
      if block
        block