.post-septenary {
  @include flex($justify: space-between, $align: center);
}
.post-septenary__thumb {
  @include size(rem(80));
  display: block;
  overflow: hidden;

  border-radius: rem(10);

  @include media(">=lg") {
    border-radius: rem(22);
  }
}

.post-septenary__info {
  width: calc(100% - 8rem);
  padding-left: rem(10);

  @include media(">=xl") {
    padding-left: rem(15);
  }
}

.post-septenary__title {
  margin-bottom: rem(10);
  max-height: rem(42);

  font-weight: $font-bold;
  text-decoration: underline;
}
