mixin post-septenary(props = {})
  -
    const defaultProps = {
      views: '240 Views',
      viewsIcon: 'las la-arrow-up',
      comments: '2 Comments',
      commentsIcon: 'las la-comment'
    }
    const _props = Object.assign({}, defaultProps, props)

  +component('article', 'post-septenary', props, false)&attributes(attributes)
    +link().post-septenary__thumb
      +img(_props.thumb || random(api.post.thumb)).img-cover
    div.post-septenary__info
      +heading({tag: 'h4', className: 'post-septenary__title truncate-text-2', linkClassName: 'post-septenary__title-link'})
      div.p-statistic.flex.flex-middle
        +link().flex
          i(class=_props.viewsIcon)
          span=_props.views
        +link().flex
          i(class=_props.commentsIcon)
          span=_props.comments

    if block
      block
