.footer {
  padding-top: rem(15);
  padding-bottom: rem(15);

  background-image: url("../../images/bg-footer.jpg");
  background-position: 50% 50%;
  background-size: cover;

  color: $color-white;

  @include media(">=1270px") {
    padding-top: rem(50);
    padding-bottom: rem(20);

    background-position: 100% 100%;
  }
}

.footer__navigation {
  padding-top: rem(15);
  padding-bottom: rem(15);

  @include media(">=sm") {
    padding-top: rem(20);
    padding-bottom: rem(20);
  }

  @include media(">=lg") {
    padding-top: rem(30);
    padding-bottom: rem(30);
  }

  @include media(">=xl") {
    padding-top: rem(60);
    padding-bottom: rem(60);
  }
}

.footer__copyright {
  color: $color-gray-4;
  p {
    @include media(">=xl") {
      margin: 0 auto;
      max-width: 40%;

      font-size: rem(16);
      line-height: rem(26);
    }
  }
}
