-
	// Align
	const textAlign = {
		left: 'text-left',
		right: 'text-right',
		center: 'text-center'
	}

	// Grid
	const gridSettings = {
		sectionClassDefault: 'section',
		containerClassDefault: 'container',
		gridClass: 'grid',
		colArrangement: ['xs', 'sm', 'md', 'lg', 'xl'],
		overlay: 'overlay'
	}

mixin ul
	ul
		li