.post-secondary {
  @include relative;
  z-index: 1;
  overflow: hidden;

  border-radius: 5px;

  font-size: rem(14);
  color: $color-white;

  @include media(">=xs") {
    border-radius: rem(10);
  }
  @include media(">sm") {
    border-radius: rem(15);
  }

  @include media(">=xl") {
    border-radius: rem(30);
  }
}

.post-secondary__category {
  @include absolute($top: 5px, $left: 5px);
  z-index: 1;

  border-radius: rem(17);
  padding: rem(10) rem(15);

  background-color: $primary-color;

  font-size: rem(12);
  font-weight: $font-medium;
  color: $secondary-color;

  @include media(">=sm") {
    top: rem(10);
    left: rem(10);
  }

  @include media(">=xl") {
    top: rem(15);
    left: rem(15);
  }
}

.post-secondary__thumb {
  padding-top: mathSizeImage(263, 403);
  background-color: transparent;
}

.post-secondary__thumb:before {
  @include absolute(initial, 0, 0, 0);
  z-index: -1;

  content: "";

  width: 100%;
  height: 65%;

  background-image: linear-gradient(
    180deg,
    rgba($color-white, 0.0001) 0%,
    rgba($secondary-color, 0.6) 100%
  );

  @include media("<xs") {
    height: 100%;
  }
}

.post-secondary__thumb img {
  z-index: -2;
}

.post-secondary__info {
  @include absolute(initial, 5px, 5px, 5px);

  @include media(">=sm") {
    right: rem(10);
    bottom: rem(10);
    left: rem(10);
  }

  @include media(">=xl") {
    right: rem(15);
    bottom: rem(15);
    left: rem(15);
  }
}

.post-secondary__title {
  width: calc(100% - 5rem);

  font-weight: $font-medium;

  @include media(">=sm") {
    height: rem(44);
    font-size: rem(17);
  }
}

.post-secondary__save {
  font-size: rem(24);
}

.post-secondary__meta {
  margin-top: 10px;

  border-radius: rem(24);
  padding: 4px 15px 4px 4px;

  background-color: rgba($color-white, 0.15);
  backdrop-filter: blur(27.1828px);

  > *:not(:last-child) {
    margin-right: rem(10);
  }

  @media only screen and (min-width: 1024px) and (max-width: 1269px),
    (max-width: 479px) {
    > :nth-child(n + 3) {
      display: none;
    }
  }
}

.post-secondary__avatar {
  @include size(4rem);
  display: block;
  overflow: hidden;

  border-radius: 50%;
}
