.container {
  display: block;
  width: 100%;
  max-width: $container + 20px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

// Author grid
.author-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(23rem, 1fr));
  gap: rem(10);

  @include media(">=sm") {
    gap: rem(15);
  }

  @include media(">=xl") {
    gap: rem(30);
  }
}

// Post grid
.post-grid {
  @include flex(flex, wrap, row);
}

.post-grid__item {
  width: 100%;

  @include media(">=sm", "<lg") {
    width: 50%;
  }
}

.post-grid__item:nth-of-type(n + 2) {
  @include media(">=lg") {
    margin-top: rem(15);
  }

  @include media(">=xl") {
    margin-top: rem(20);
  }
}
