extends core/layout

include components/section/_section
include components/heading/_heading
include components/category/_category
include components/post-plain/_post-plain
include components/post-primary/_post-primary
include components/post-secondary/_post-secondary
include components/post-tertiary/_post-tertiary
include components/post-quaternary/_post-quaternary
include components/post-quinary/_post-quinary
include components/post-septenary/_post-septenary
include components/post-octonary/_post-octonary
include components/post-nonary/_post-nonary
include components/post-denary/_post-denary
include components/subscribe/_subscribe
include components/tabs/_tabs
include components/author/_author

//- include components/**/*.pug

block stylesheet
  link(rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css")
  link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap")

block content
  +page-background()

  +section().home-plain-post
    +row().grid--huge.grid--counter
      +col({cols: [12, 6, 6, 3]})
        +post-plain({title: 'We denounce with righteous indignation'})
      +col({cols: [12, 6, 6, 3]})
        +post-plain({title: 'Denouncing pleasure and praising pain was born'})
      +col({cols: [12, 6, 6, 3]})
        +post-plain({title: 'At vero eos et accusamus et iusto odio dignissimos...'})
      +col({cols: [12, 6, 6, 3]})
        +post-plain({title: 'Nam libero tempore, cum soluta nobis est eligendi'})

  //-Slider
  +section({hasBackgroundEl: true}).section--rounded.home-slider
    +post-denary({hasSliderButtons: true ,thumb: './images/post40.jpg', title: 'Torquem Detraxit Hosti Quidem Se Repellere'})

  //- Category
  +section()
    header.section__head
      +heading({tag: 'h2', title: 'Category'})

    +row().grid--huge
      +col({cols: [12, 6, 6, 3]})
        +category({title: 'Apps', cover: './images/post1.jpg', thumbs: ['./images/thumb2.jpg', './images/thumb3.jpg', './images/thumb4.jpg']})
      +col({cols: [12, 6, 6, 3]})
        +category({title: 'Boxing', cover: './images/post2.jpg', thumbs: ['./images/thumb5.jpg', './images/thumb6.jpg', './images/thumb7.jpg']})
      +col({cols: [12, 6, 6, 3]})
        +category({title: 'Bohemian', cover: './images/post3.jpg', thumbs: ['./images/thumb8.jpg', './images/thumb9.jpg', './images/thumb10.jpg']})
      +col({cols: [12, 6, 6, 3]})
        +category({title: 'Artsy Style', cover: './images/post4.jpg', thumbs: ['./images/thumb11.jpg', './images/thumb12.jpg', './images/thumb13.jpg']})

  //- Recent Posts
  +section().section--background-1.section--rounded
    header.section__head
      +heading({tag: 'h2', title: 'Recent Posts'})

    +row()
      +col({cols: [12, 12, 12, 7]}).order-lg-1
        +post-octonary({thumb: "./images/post5.jpg", title: "At vero eos et accusamus et iusto odio dignissimos ducimus"})

      +col({cols: [12, 12, 12, 5]})
        +row()
          +col({cols: [12, 12, 12, 12]})
            +post-nonary({thumb: './images/post20.jpg', title: "Hanc ego cum teneam sententiam, quid malu…"})
          +col({cols: [12, 12, 12, 12]})
            +post-nonary({thumb: './images/post21.jpg', title: "The warmest workout gear to keep"})
          +col({cols: [12, 12, 12, 12]})
            +post-nonary({hasVideo: true, thumb: './images/post22.jpg', title: "Boost your immune system for winter..."})

    +row()
      +col({cols: [12, 6, 6, 3]})
         +post-quaternary({title: 'Laudem et inter argumentum conclusionemque', avatar: './images/thumb20.jpg'})
      +col({cols: [12, 6, 6, 3]})
         +post-quaternary({title: 'Sorry, but you can\’t copyright a meme', avatar: './images/thumb21.jpg'})
      +col({cols: [12, 6, 6, 3]})
         +post-quaternary({title: 'Filium morte multavit si sine causa, mox videro', avatar: './images/thumb22.jpg'})
      +col({cols: [12, 6, 6, 3]})
         +post-quaternary({title: 'Hanc ego cum teneam sententiam, quid malum', avatar: './images/thumb23.jpg'})

  //- Popular Posts
  +section()
    header.section__head.flex.flex-between-middle
      +heading({tag: 'h2', title: 'Popular Posts'})
    +row().grid--huge
      +col({cols: [12, 6, 6, 3]})
        +post-quinary({thumb: './images/post8.jpg', categoryOnTop: true, avatarOnTop: true})
      +col({cols: [12, 6, 6, 3]})
        +post-quinary({thumb: './images/post9.jpg', categoryOnTop: true, avatarOnTop: true})
      +col({cols: [12, 6, 6, 3]})
        +post-quinary({thumb: './images/post10.jpg', categoryOnTop: true, avatarOnTop: true})
      +col({cols: [12, 6, 6, 3]})
        +post-quinary({thumb: './images/post11.jpg', categoryOnTop: true, avatarOnTop: true})

  //- Viewed Posts
  +section().section--background-2.section--rounded
    header.section__head.flex.flex-between-middle
      +heading({tag: 'h2', title: 'Viewed Posts'})

    +row()
      +col({cols: [12, 12, 12, 3 ]})
        +row()
          +col({cols: [12, 6, 6, 12]})
            +post-quaternary({title: 'Laudem et inter argumentum conclusionemque', avatar: './images/thumb15.jpg'})
          +col({cols: [12, 6, 6, 12]})
            +post-quaternary({title: 'Sorry, but you can\’t copyright a meme', avatar: './images/thumb16.jpg'})

      +col({cols: [12, 12, 12, 6]})
        +row().grid--small
          +col({cols: [12, 6, 6, 6]})
            +post-quinary({hasBookmark: true, thumb: './images/post12.jpg', title: 'Free Philippine Real Estate Ads'})
          +col({cols: [12, 6, 6, 6]})
            +post-quinary({hasBookmark: true, thumb: './images/post13.jpg', title: 'Torquem detraxit hosti et quidem se'})

      +col({cols: [12, 12, 12, 3 ]})
        +row()
          +col({cols: [12, 6, 6, 12]})
            +post-quaternary({title: 'Hanc ego cum teneam sententiam, quid malum', avatar: './images/thumb17.jpg'})
          +col({cols: [12, 6, 6, 12]})
            +post-quaternary({title: 'Filium morte multavit si sine causa, mox videro', avatar: './images/thumb18.jpg'})

  //- Top Author
  +section().author-section
    header.section__head
      +heading({tag: 'h2', title: 'Top Author'}).heading--size-l
      p.author-section__desc
        | At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas

    div.author-grid
      div.author-section__item
        +author({avatar: './images/author1.jpg', name: 'Elliana Palacios', posts: '20 Posts'})
      div.author-section__item
        +author({avatar: './images/author2.jpg', name: 'June Cha', posts: '14 Posts'})
      div.author-section__item
        +author({avatar: './images/author3.jpg', name: 'Andreas Brixen', posts: '12 Posts'})
      div.author-section__item
        +author({avatar: './images/author4.jpg', name: 'Vinh Tran', posts: '10 Posts'})
      div.author-section__item
        +author({avatar: './images/author5.jpg', name: 'Eden Tuan', posts: '5 Posts'})

    div.author-section__foot.text-center
      div.flex.flex-middle.flex-center
        +button({tag: 'a'}).button--size-xxl.button--gray
          | See all authors
        +button({tag: 'a'}).button--size-xxl.button--primary.ml-10
          | Become an author

  //- Banner
  +section().section--collapse-top.ads.visible-desktop
    +link()
      +img('./images/banner.jpg')

  //- With Category
  +section().section--background-1.section--rounded
    header.section__head
      +heading({tag: 'h2', title: 'With Category'})

    +row().grid--huge
      +col({cols: [12, 12, 12, 6]}).order-lg-1
        +row().grid--huge
          +col({cols: [12, 6, 6, 12]})
            +post-tertiary({hasVideo: true, thumb: './images/post38.jpg'})
          +col({cols: [12, 6, 6, 12]})
            +post-tertiary({thumb: './images/post39.jpg'})

      +col({cols: [12, 12, 12, 3]})
        +row().grid--huge
          +col({cols: [12, 4, 4, 12]})
            +post-primary({thumb: './images/post14.jpg'})
          +col({cols: [12, 4, 4, 12]})
            +post-primary({thumb: './images/post15.jpg'})
          +col({cols: [12, 4, 4, 12]})
            +post-primary({thumb: './images/post16.jpg'})

      +col({cols: [12, 12, 12, 3]}).order-lg-2
        +row().grid--huge
          +col({cols: [12, 4, 4, 12]})
            +post-primary({thumb: './images/post17.jpg'})
          +col({cols: [12, 4, 4, 12]})
            +post-primary({thumb: './images/post18.jpg'})
          +col({cols: [12, 4, 4, 12]})
            +post-primary({thumb: './images/post19.jpg'})

  +section()
    header.section__head
      +heading({tag: 'h2', title: 'All Categories'})
    +row().grid--huge
      +col({cols: [12, 12, 12, 8]})
        +row().grid--huge
          +col({cols: [12, 6, 6, 6]})
            +post-secondary({thumb: './images/post23.jpg'})
          +col({cols: [12, 6, 6, 6]})
            +post-secondary({thumb: './images/post24.jpg'})
          +col({cols: [12, 6, 6, 6]})
            +post-secondary({thumb: './images/post25.jpg'})
          +col({cols: [12, 6, 6, 6]})
            +post-secondary({thumb: './images/post27.jpg'})
          +col({cols: [12, 6, 6, 6]})
            +post-secondary({thumb: './images/post28.jpg'})
          +col({cols: [12, 6, 6, 6]})
            +post-secondary({thumb: './images/post29.jpg'})
          +col({cols: [12, 6, 6, 6]})
            +post-secondary({thumb: './images/post30.jpg'})
          +col({cols: [12, 6, 6, 6]})
            +post-secondary({thumb: './images/post31.jpg'})

      +col({cols: [12, 12, 12, 4]})
        +subscribe()
        +component('div', 'home-tabs-content', null, false)
          .home-tabs-content__head
            +tabs()
          .home-tabs-content__body
            .home-tabs-content__item
              +post-septenary()
            .home-tabs-content__item
              +post-septenary()
            .home-tabs-content__item
              +post-septenary()
