footer.c-footer
  section.c-footer__posts
    .l-container
      .grid.grid-desk-huge
        .col-mob-12.col-tab-4.col-desk-4
          +link()(class="c-post-senary")
            .c-post-senary__thumb
              +img('../../assets/images/post32.jpg').u-img-cover
            .c-post-senary__info
              div.c-post-senary__title.u-truncate-text-2 Sorry, but you can’t copyright a meme
              div.o-views.o-views--gray
                span
                  i.las.la-arrow-up
                  | 240 Views
                span
                  i.las.la-comment
                  | 2 Comments

        .col-mob-12.col-tab-4.col-desk-4
          +link()(class="c-post-senary")
            .c-post-senary__thumb
              +img('../../assets/images/post33.jpg').u-img-cover
            .c-post-senary__info
              div.c-post-senary__title.u-truncate-text-2 Quid ex ea quid bonum sit aut quid sit aut
              div.o-views.o-views--gray
                span
                  i.las.la-arrow-up
                  | 240 Views
                span
                  i.las.la-comment
                  | 2 Comments

        .col-mob-12.col-tab-4.col-desk-4
          +link()(class="c-post-senary")
            .c-post-senary__thumb
              +img('../../assets/images/post34.jpg').u-img-cover
            .c-post-senary__info
              div.c-post-senary__title.u-truncate-text-2 Neural networks can now help you colorize old photos like a …
              div.o-views.o-views--gray
                span
                  i.las.la-arrow-up
                  | 240 Views
                span
                  i.las.la-comment
                  | 2 Comments

  .c-footer__navigation
    .l-container
      .grid
        .col-mob-12.col-tab-6.col-desk-3
          .c-panel
            h4.c-panel__heading
             span.c-panel__heading-text Categories
            ul.c-panel__list
              .c-panel__item
                +link().c-panel__link Travel
              .c-panel__item
                +link().c-panel__link Art Design
              .c-panel__item
                +link().c-panel__link Beauty
              .c-panel__item
                +link().c-panel__link LifeStyle

        .col-mob-12.col-tab-6.col-desk-3
          .c-panel
            h4.c-panel__heading
             span.c-panel__heading-text Pages
            ul.c-panel__list
              .c-panel__item
                +link().c-panel__link Term of use
              .c-panel__item
                +link().c-panel__link Privacy
              .c-panel__item
                +link().c-panel__link About
              .c-panel__item
                +link().c-panel__link Contact

        .col-mob-12.col-tab-6.col-desk-3
          .c-panel
            h4.c-panel__heading
             span.c-panel__heading-text Company
            ul.c-panel__list
              .c-panel__item
                +link().c-panel__link Support
              .c-panel__item
                +link().c-panel__link Jobs
              .c-panel__item
                +link().c-panel__link Investors
              .c-panel__item
                +link().c-panel__link Give Us Feedbacks

        .col-mob-12.col-tab-6.col-desk-3
          .c-panel
            h4.c-panel__heading
             span.c-panel__heading-text Social

            p At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis

            .l-socials
              +link()(class="o-social o-social--secondary o-social--overlay o-social--rounded" title="Facebook")
                i.la.la-facebook-f
              +link()(class="o-social o-social--secondary o-social--overlay o-social--rounded" title="Youtube")
                i.la.la-youtube
              +link()(class="o-social o-social--secondary o-social--overlay o-social--rounded" title="Twitter")
                i.la.la-twitter

  .c-footer__copyright.u-text-center
    .l-container
      p Copyright &copy; 2021 Wiloke.com. Address: 1002312 State Street, 20th Floor Boston A