// Header for desktop
header.c-header.u-visible-desktop
  .c-header__bar
    .l-container
      .c-header__content

        .c-search
          input.c-search__input(type="text" name="" placeholder="Search travel, lifestyle…")
          button.o-button.o-button--primary.o-button--circle.o-button--size-m
            i.las.la-search

        h1.c-header__logo.u-mlr-auto
          +link()
            +img("../../assets/images/logo.png", title="Logo")

        .l-socials
          +link()(class="o-social o-social--facebook o-social--border o-social--rounded" title="Facebook")
            i.la.la-facebook-f
          +link()(class="o-social o-social--youtube o-social--border o-social--rounded" title="Youtube")
            i.la.la-youtube
          +link()(class="o-social o-social--twitter o-social--border o-social--rounded" title="Twitter")
            i.la.la-twitter

  .c-header__navigation
    .l-container
      .c-header__content
        button.c-header__toggle.o-button.o-button--circle.o-button--size-l.o-button--border
          i.la.la-bars

        nav.c-menu.u-mlr-auto
          ul.c-menu__list
            +menuItem('c-menu', 'Home', false, true)
            +menuItem('c-menu', 'Pages', true)(class="has-submenu")
            +menuItem('c-menu', 'Sport')
            +menuItem('c-menu', 'LifeStyle')
            +menuItem('c-menu', 'Design')

        div.c-header__actions.u-flex.u-flex-between.u-flex-middle
          input.u-hidden(type="checkbox" id="switch-mode")
          label(for="switch-mode").c-switch.u-mr-6
            span.c-switch__mode.c-switch__mode--light Light
            button.c-switch__button.o-button.o-button--primary.o-button--size-m.o-button--circle
              i.las.la-moon
            span.c-switch__mode.c-switch__mode--dark Dark

          button.o-button.o-button--circle.o-button--size-l.o-button--border
            i.las.la-user

header.c-header.u-hidden-desktop
  .l-container
    .u-flex.u-flex-between.u-flex-middle
      button.c-header-mobile__button.jsMobileMenu
        i.la.la-bars

      h1.c-header__logo
        +link()
          +img("../../assets/images/logo.png", title="Logo")

      button.c-header-mobile__button.jsSearchMobile
        i.las.la-search

