.o-button {
  display: inline-block;
  background-color: #fff;
  border: none;
  font-size: 18px;
  transition: all 0.25s;
}

.o-button:hover,
.o-button--primary {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.o-button--circle {
  border-radius: 50%;
}

.o-button--size-s,
.o-button--size-m,
.o-button--size-l {
  text-align: center;
  vertical-align: middle;
}

.o-button--size-s {
  @include size(22px);
  line-height: 22px;
}

.o-button--size-m {
  @include size(32px);
  line-height: 32px;
}

.o-button--size-l {
  @include size(44px);
  line-height: 42px;
  font-size: 24px;
}

.o-button--border {
  border: 2px solid $color-gray-5;
}
