.l-socials {
  @include flex-center(center);
}
.l-socials > * + * {
  margin-left: 6px;
}

.o-social {
  @include flex-center(center, center);
  @include size(44px);
  color: $primary-color;
  font-size: 2rem;
  font-weight: $fw-bold;
}

.o-social--overlay {
  background-color: rgba($color-white, 0.06);
  backdrop-filter: blur(16.3097px);
}

.o-social.o-social--secondary {
  color: $secondary-color;
}

.o-social--rounded {
  border-radius: 50%;
}

.o-social--border {
  border: 2px solid $color-gray-5;
}
