.o-sub-menu {
  background: $color-white;
  display: none;
  @include media(">=desktop") {
    position: absolute;
    min-width: 200px;
    padding: 1rem 1.5rem;
    top: 100%;
    left: 0;
    border: 1px solid $color-gray-3;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  }
}

.o-sub-menu__item {
  padding: 0.75rem 0;
}
